<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Панель управления сайтами</title>
<script src="jquery-ui/external/jquery/jquery.js"></script>
<script src="jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" href="stylesheet.css">
<link rel="stylesheet" href="jquery-ui/jquery-ui.css">
<script>
var siteList = [{{ xfiles|raw }}];
</script>
</head>

<body onLoad="initiate()">
<div id="no-script"><br><br>Для работы панели управления требуется включенный <b>javascript</b></div>
<div id="header"><p align="right">Панель управления сайтами</p>
<a href="#" id="dialog-link" class="openBtn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>Создать сайт</a>
<a href="#" id="restart" class="openBtn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-clock"></span>Перезапустить сервер</a>
</div>

<div id="content">

</div>

<div id="previewDiv">
<span id="hintSpan">Добро пожаловать в панель управления сайтами!<br><br>Выберите сайт из списка слева для просмотра или создайте новый с помощью кнопки <b>создать сайт</b><br>
Для редактирования сайта, выберите название сайта из списка.<br><br>Обратите внимание на то, что по умолчанию сайты создаются в рамках одного сервера и изменение таких параметров как порт и хост невозможно.<br>Данные параметры сохраняются для информации, но могут быть использованы и для создания полноценной конфигурации Nginx при использовании шаблона nginx.twig.</span>
<div id="previewFrameDiv" style="position:absolute; left: 0px; right: 0px; display:none">
<iframe id="previewFrame" frameborder="0"></iframe>
</div>
</div>

<div id="dialog" title="Создание сайта">
	<p>
    <table border="0">
    <tr><td>
    Введите имя сайта:
    </td><td colspan="2">
    <input name="sitename" id="sitename" type="text">
    </td></tr>
    <tr><td>
    Введите имя хоста:
    </td><td colspan="2">
    <input name="sitehost" id="sitehost" type="text">
    </td></tr>
    <tr><td>
    Введите описание сайта:
    </td><td colspan="2">
    <input name="sitedescription" id="sitedescription" type="text">
    </td></tr>
    <tr><td>
    Порт:
    </td><td width="100">
    <input name="siteport" class="smallTextInput" id="siteport" type="text">
    </td><td>
    </td></tr>
    </table>
    </p>
</div>
<script src="index.js"></script>
</body>

</html>